body {
  font-family: Arial;
  margin: 0;
  background: #111;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: black;
  align-items: center;
}

.actions {
  display: flex;
  gap: 15px;
}

.cart-icon {
  cursor: pointer;
  font-size: 20px;
}

#cart-count {
  background: red;
  padding: 2px 6px;
  border-radius: 50%;
}

.slider {
  padding: 20px;
}

.carousel {
  overflow: hidden;
}

.track {
  display: flex;
  gap: 20px;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.card {
  min-width: 220px;
  background: #1c1c1c;
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px cyan;
}

button {
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #222;
  padding: 20px;
  display: none;
  z-index: 10;
  border-radius: 10px;
}
