*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:linear-gradient(-45deg,#0f2027,#203a43,#2c5364,#000);
  background-size:400% 400%;
  animation:bg 12s ease infinite;
  color:white;
}

@keyframes bg{
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

header{
  display:flex;
  gap:10px;
  padding:12px;
  background:#131921;
  align-items:center;
}

header input{
  flex:1;
  padding:8px;
  border-radius:6px;
  border:none;
}

.auth{
  padding:15px;
  display:flex;
  gap:10px;
}

.products{
  padding:15px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
  gap:15px;
}

.card{
  background:#1c1c1c;
  padding:12px;
  border-radius:14px;
  text-align:center;
  transition:.3s;
}

.card:hover{
  transform:scale(1.05);
  box-shadow:0 0 20px #00ffd5;
}

.card img{
  width:100%;
  border-radius:10px;
}

button{
  padding:10px;
  border:none;
  border-radius:20px;
  cursor:pointer;
}

.pay{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  background:#ffd814;
  color:black;
  font-weight:bold;
}
